{
  "project_info": {
    "project_number": "437178302072",
    "project_id": "bixcinema",
    "storage_bucket": "bixcinema.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:437178302072:android:7a14bfe88e292a74e9f78d",
        "android_client_info": {
          "package_name": "com.example.bixcinema"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "API KEY HAHA"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}